<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589598708972-tt8hlchv185vp69gg7daut4tro4pgrqm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589598708972-tt8hlchv185vp69gg7daut4tro4pgrqm</string>
	<key>API_KEY</key>
	<string>AIzaSyC3Mhn3eHv-m8GpOLtBuJ884F26er0VlVU</string>
	<key>GCM_SENDER_ID</key>
	<string>589598708972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.samlaApp</string>
	<key>PROJECT_ID</key>
	<string>samla-ceab0</string>
	<key>STORAGE_BUCKET</key>
	<string>samla-ceab0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589598708972:ios:79e04461b229b5a38841c9</string>
</dict>
</plist>